*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.txt text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.ogg binary
*.mp3 binary
*.wav binary
*.mp4 binary
*.avi binary
*.zip binary
*.rar binary

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
